Release v1.0
	1. User should have personalized profile. With added interest in the profile.
	2. User should be able to ask questions.
	3. Should be able to answer with either video or audio.
	4. Personalized newsfeed for the user. Filled with posts from followees and topic he choose from.
	5. User should be able to do upkudo & downkudo. But the count of downkudos will be hidden.
	6. User Should be able to see new updates on his Q/A on notifications tabs.
	7. User should be able to share,report and follow the Q/A.
	8. With @UserName user should be able to tag a person, who is following him. And this will go as a 
	Notification to the user who has been tag.
	9. Limit the video/audio length to 2 mins.
	10. Add no of views on answer.

Development
	1. Building Github pipeline to deploy.


Release v2.0
	1. Video/Audio Editing options while uploading.
	2. Noise cancellation while uploading Audio.
	3. User can go live to have Q/A sessions with the followers
	4. Build in Recommendation system to populate newsfeed.
	5. User can have kudos bounty attached to the question.
	6. Show trending Q/As.
	7. Use HashTags(#) to show all the Q/A attached to that hashtag.
	8. Add captions/subtitles for the video/audio.
	9. Extend the video/audio length to 5-10 mins.